---
const items=[
    {
        title:"Anasayfa",
        Path2D:"/"
    },
    {
        title:"Blog",
        Path2D:"/blog"
    },
    {
        title:"Hakk覺m覺zda",
        Path2D:"/hakk覺m覺zda"
    },
]
---

<div>
    <div>
        BAKARLAR
    </div>
    <div>
        <ul>
        {items.map(item=>(
            <li><a href={item.Path2D}><strong>{item.title}</strong></a></li>
        ))}
        </ul>
    </div>
</div>