---
interface Props{
    title:string;
    content:string;

};

const { title,content } = Astro.props;
---

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{title} / Bakarlar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <!--  responsive duyarlı olması için burası yazılacak Örrn:telde yaklaştırma uzaklaştırma// -->
        <style>
            body:not(.asd) {color:lawngreen;}
            h1 {color:orange}
        </style>

    </head>

    <body>
        <slot/>
        {content}
        <h1 class="asd">NABER</h1>
        Deneme
    </body>
</html>



