---
import type { BlogPostFrontmatter } from "@types";
import { tarih } from "@utils";
import type { MarkdownLayoutProps } from "astro";
import Base from "./Base.astro";

type Props=MarkdownLayoutProps<BlogPostFrontmatter>

const {title,date} = Astro.props.frontmatter


---

<Base title="blog post">
    <div class="mb-8">
        <h1 class="text-3xl mb-2">{title}</h1>
        <p>{tarih(date)}</p>
    </div>
     <div class="prose"> <!--prose orjinal style ekliyor nasıl aldıysan öyle görünür. -->
       <slot/> 
    </div>

</Base>






