---
import Base from "@layouts/Base.astro";

const posts = await Astro.glob("./*.md")
---

<Base title="Blog Posts">
<h1 class="mb-8 text-6xl">Blogs</h1>
<div >
{posts.map((item)=>(
    <div class="py-4 border-b first:border-t">
    <a class="text-blue-700 hover:underline" href={item.url}>
    {item.frontmatter.title}
    </a>
    </div>
    ))}
</div>
</Base>